/* Reset css */
:root {
  --bold: 600;
  --normal: 400;
  --thin: 100;

  /* colors */
  --primary-color: #88898C;
  --second-color: #D7D7D9;
  --tertiary-color: #404040;
  --dark-color: #00010D;
  --white-color: #ffffff;
  --danger-color: #D03A41;
  --alert-color: #F1CC07;
  --success-color: #0AE569;
  --info-color: #5C73F2;
}

:focus {
  outline: none;
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: Roboto;
  color: var(--dark-color);
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h3 {
  font-weight: var(--bold)
}

b, strong {
  font-weight: var(--bold)
}

.thin {
  font-weight: var(--thin)
}

.hr {
  border: none;
  margin: 20px 0;
  border-bottom: 1px solid #f6f7fb;
}

/* Color classes */
/* Background */
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--second-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-white {
  background-color: var(--white-color);
}

.bg-danger {
  background-color: var(--danger-color);
}

.bg-alert {
  background-color: var(--alert-color);
}

.bg-success {
  background-color: var(--success-color);
}

.bg-info {
  background-color: var(--info-color);
}

/* Text */
.txt-primary {
  color: var(--primary-color);
}

.txt-secondary {
  color: var(--second-color);
}

.txt-tertiary {
  color: var(--tertiary-color);
}

.txt-dark {
  color: var(--dark-color);
}

.txt-white {
  color: var(--white-color);
}

.txt-danger {
  color: var(--danger-color);
}

.txt-alert {
  color: var(--alert-color);
}

.txt-success {
  color: var(--success-color);
}

.txt-info {
  color: var(--info-color);
}
